
@media  screen and (max-width: 768px) {
    .backgroundImage {
        background-image: url("../../../assets/images/authBgImage.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
    }
    
}
