@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Webkit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #343230;
  padding: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #C09D5E;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4d167a;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
